<div class="top-menu">
    <div class="d-flex flex-between">
        <div class="lang-selector">
            <a href="#">УКР</a>
            <a href="#">РУС</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Кар’єра</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">Про нас</a></li>
            </ul>
        </div>
        <div class="social">
            <a href="#">
                <span class="i-neo-instagram social-icon"></span>Instagram
            </a>
        </div>
    </div>
</div>