.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 4rem;
  .navbar-first-block {
    display: flex;
    align-items: center;
    .logo {
      height: 3.5rem;
      margin-right: 1.2rem;
      cursor: pointer;
    }
    .burger-menu {
      .icon {
        margin-right: 15px;
        margin-left: 10px;
      }
    }
    .menu-button {
      cursor: pointer;
      user-select: none;
      align-items: center;
      padding-left: 15px;
      width: 140px;
      background-color: $primary-color;
      display: flex;
      color: $white;
      height: 40px;
      text-transform: uppercase;
      &:hover {
        background-color: $primary-color-dark;
      }
      .text {
        margin-left: 15px;
      }
    }
  }
  .navbar-second-block {
    display: flex;
    margin-right: 10px;
    .icon {
      padding-left: 1.5rem;
    }
    .search {
      position: relative;
      display: flex;
    }
  }
}

@media screen and (max-width: 770px) {
  .menu-button {
    display: none !important;
  }
  .burger-menu {
    display: flex !important;
  }
}
@media screen and (max-width: 390px) {
  .logo {
    display: none !important;
  }
  .burger-menu {
    display: flex !important;
    .icon {
      padding-top: 0 !important;
    }
  }
}