.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 4rem;
  .navbar-first-block {
    display: flex;
    align-items: center;
    .logo {
      height: 3.5rem;
      margin-right: 1.2rem;
      cursor: pointer;
    }
    .burger-menu {
      .icon {
        margin-right: 15px;
        margin-left: 10px;
      }
    }
    .menu-button {
      cursor: pointer;
      user-select: none;
      align-items: center;
      padding-left: 15px;
      width: 140px;
      background-color: $primary-color;
      display: flex;
      color: $white;
      height: 40px;
      text-transform: uppercase;
      &:hover {
        background-color: $primary-color-dark;
      }
      .text {
        margin-left: 15px;
      }
    }
  }
  .navbar-second-block {
    display: flex;
    margin-right: 10px;
    position: relative;
    .cart {
      position: relative;
      .cart-counter {
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: indianred;
        color: white;
        border-radius: 50%;
        border: 2px solid white;
        top: -6px;
        right: -6px;
        font-weight: 400;
        font-size: 12px;
      }
    }
    .icon {
      padding-left: 1.5rem;
    }
    .search {
      position: relative;
      display: flex;
    }
  }
}
.i-neo-cart-filled:hover:before,
.i-neo-search:hover:before {
  color: #447ed5;
}

@media screen and (max-width: 770px) {
  .menu-button {
    display: none !important;
  }
  .burger-menu {
    display: flex !important;
  }
}
@media screen and (max-width: 390px) {
  .burger-menu {
    display: flex !important;
    .icon {
      padding-top: 0 !important;
    }
  }
}