$primary-color-soft: #d9e5f8;
$primary-color: #629df6;
$primary-color-dark: #447ed5;
$primary-color-darker: #2c5797;
$gray: #b7b7b7;
$gray-dark: #585858;
$gray-dark-darker: #353535;
$dark-primary: #292929;
$white: white;
$white-dark: #d0d0d0;