<nav class="navbar">
    <div class="navbar-first-block">
        <div class="burger-menu d-none">
            <span class="i-neo-burger icon"></span>
        </div>
        <img src="img/logo/logotype.png" alt="logotype" class="logo">
        <div class="menu-button">
            <span class="i-neo-menu"></span>
            <p class="text">Каталог</p>
        </div>
    </div>
    <div class="navbar-second-block">
        <span class="i-neo-search icon"></span>
        <span class="i-neo-cart icon"></span>
    </div>
</nav>