.search-block-active {
  box-shadow: 0 4px 7px hsla(0, 0%, 71%, .25);
  position: relative;
  z-index: 10;
}
.search-block {
  z-index: 0;
  position: absolute;
  top: -40%;
  right: 3.5em;
  width: 28rem;
  max-height: 24rem;
  overflow-y: scroll;
  .search-input {
    padding-left: 1rem;
    padding-top: 0.5rem;
    .search-box {
      width: 100%;
      height: 3rem;
      border: 0;
      .border {
        border-bottom: 1px solid $gray-dark;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .results {
    padding: 0;
    .preview {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 0.5rem;
    }
    .item {
      padding: 0.5rem 0;
      .nothing-found {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray;
        height: 4rem;
      }
      .first-block {
        padding-left: 1rem;
        .dummy {
          width: 4.2rem;
          height: 4.2rem;
          border-radius: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
      .second-block {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        .skeleton-text:nth-child(1) {
          margin-top: 0.2rem;
        }
        .title {
          color: #333333;
          font-size: 1em;
          margin-bottom: 8px;
        }
        .description {
          color: $gray-dark;
          font-size: 0.8em;
          margin-bottom: 8px;
        }
        .search-product-price {
          font-size: 14px;
          .price {
            color: black;
            font-weight: 500;
          }
        }
      }
      &:hover {
        background-color: $primary-color-soft;
      }
    }
  }
}

//
// W I D T H
//
@media screen and (max-width: 992px) {
  .navbar {
    position: relative;
    .navbar-second-block {
      .search {
        position: static;
      }
    }
  }
  .search-block {
    width: 100%;
    left: 0;
    top: 5.5vh;
  }
}
// todo incorrect mobile searchbar
@media screen and (max-width: 450px){
  .search-block {
    position: fixed;
    top: 14vh;
  }
  .search-block-active {
    box-shadow: 8px 8px 30px -2px rgba(0,0,0,0.15);
  }
  //.navbar {
  //  .navbar-second-block {
  //    background-color: $gray-dark-darker;
  //    position: fixed;
  //    bottom: 0;
  //    width: 100%;
  //    display: flex;
  //    justify-content: space-around;
  //    padding: 0.7em 0;
  //    left: 0;
  //    .icon {
  //      color: $white-dark;
  //      padding: 0;
  //    }
  //  }
  //}
}
//
// H E I G H T
//
@media screen and (max-height: 810px) {
  .search-block {
    top: 7vh;
  }
}
@media screen and (max-height: 580px) {
  .search-block {
    top: 9vh;
  }
}