<div class="search-block search-block-active d-none" id="searchContainer">
    <form autocomplete="off">
        <div class="search-input">
            <input type="text" placeholder="Введите поисковую фразу" class="search-box border searchInput d-none">
        </div>
    </form>

    <div class="results">

        <!-- =================  P R E L O A D I N G ================= -->
        <div class="preloader d-none" id="preloader">
            @for (var i = 0; i < 6; i++) {
                <div class="item">
                    <a href="#" class="d-flex">
                        <div class="first-block">
                            <div class="skeleton dummy"></div>
                        </div>
                        <div class="second-block">
                            <p class="title skeleton skeleton-text"></p>
                            <p class="title skeleton skeleton-text"></p>
                            <p class="title skeleton skeleton-text"></p>
                        </div>
                    </a>
                </div>
            }
        </div>

        <!-- =================  N O T H I N G   F O U N D ================= -->
        <div class="item d-none" id="emptyResults">
            <div class="nothing-found">
                <p>К сожалению, ничего не найдено.</p>
            </div>
        </div>

        <!-- ========================  R E S U L T S ======================== -->
        <div class="item d-none" id="resultSkeleton">
            <a href="#" class="d-flex">
                <div class="first-block">
                    <img src="" alt="" class="preview">
                </div>
                <div class="second-block">
                    <p class="title">Product name</p>
                    <p class="description d-none">Short product description for describe it in few lines.</p>
                    <div class="search-product-price price-discount d-none">
                        <p class="old-price d-none">9 999 UAH</p>
                        <p class="price d-none">8 499 UAH</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>