.navbar {
  height: 6rem;
  .navbar-first-block {
    display: flex;
    .logo {
      height: 4.5rem;
      margin-right: 2.2rem;
      cursor: pointer;
    }
    .burger-menu {
      .icon {
        padding-top: 20px;
        margin-right: 15px;
        margin-left: 10px;
      }
    }
    .menu-button {
      margin-top: 15px;
      cursor: pointer;
      user-select: none;
      align-items: center;
      padding-left: 15px;
      width: 140px;
      background-color: $primary-color;
      display: flex;
      color: $white;
      height: 40px;
      text-transform: uppercase;
      &:hover {
        background-color: $primary-color-dark;
      }
      .text {
        margin-left: 15px;
      }
    }
  }
  .navbar-second-block {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    .icon {
      padding-left: 15px;
    }
    .search {
      display: flex;
    }
  }
}

@media screen and (max-width: 770px) {
  .menu-button {
    display: none !important;
  }
  .burger-menu {
    display: flex !important;
  }
}
@media screen and (max-width: 390px) {
  .logo {
    display: none !important;
  }
  .burger-menu {
    display: flex !important;
    .icon {
      padding-top: 0 !important;
    }
  }
}