@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

.icon {
  color: $gray-dark;
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $primary-color-dark;
  }
}
.tooltip {
  position: absolute;
  background-color: #2f2f2f;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
  z-index: 10;
}